@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DepartureMono';
  src: url('./_assets/fonts/DepartureMono-Regular.woff2') format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
}
